@model ShopHere.Web.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}



<section class="flat-row flat-error">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrap-error text-center">
                    <div class="content-error">
                        <h2 class="text-success">@ViewBag.StatusMessage</h2>
                    </div>


                </div><!-- /.wrap-error -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->

</section>
