

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="title-section">
                <h2 class="title">
                    Categories
                </h2>
            </div><!-- /.title-section -->
        </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
</div>


<div class="container">
    <div id="tableCategoryContainer">

        @{
            Html.RenderAction("CategoryTable");
            
        }
    </div>
    <hr />
    <div id="actionCategoryContainer">

    </div>
</div>

<script>
    
    function focusAaction(controlToFocus) {
        $('html, body').animate({
            scrollTop: $("#"+controlToFocus).offset().top - 100
        }, 1000);
    }
</script>